<style type="text/css">
div{
	font-size: 25px;
	color: white;
	font-family: "Lucida Console", Monaco, monospace;
}

#cont{
	margin-top: 100px;
	margin-left: 300px;
}
b{
	font-size: 30px;
	color: red;
}
image{
	height: 15px;
	weight: 15px;
}
</style>


<body background="https://images5.alphacoders.com/426/426359.png">
<div id='cont'>
	<div>We  are  Cheaters...!<br>But  We  don't  Cheat  Humanity...! <br><br></div>
	<div>We hate Study...!<br>But we Love Technology...!<br><br></div>
	<div>We Flirt with Filters...!<br>But we are True Lovers...!<br><br></div>
	<div>World can't change us...!<br>But We can change the World...!<br><br></div>
	<div>We don't have Book in hands...!<br>But have Revolutionary ideas in mind...!<br><br></div>
	<div>We are the rarest common race on Earth...!<br>Meet us, We are the <b>HACKERS</b>...!<br><br></div>
	<div>~ MaC_hackerX <i><image src= "https://emojipedia-us.s3.amazonaws.com/thumbs/120/facebook/111/smiling-face-with-horns_1f608.png"><i><br></div>

<div>
</body>